@use '@angular/material' as mat;

// Incluir los estilos base de Angular Material
@include mat.core();

// Definir las paletas de colores
$primary-palette: mat.define-palette(mat.$blue-palette);
$accent-palette: mat.define-palette(mat.$amber-palette);
$warn-palette: mat.define-palette(mat.$red-palette);

// Crear el tema
$theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  )
));

// Aplicar el tema a todos los componentes
@include mat.all-component-themes($theme);